.App {
  text-align: center;
}

.hide {
  display: none;
}

.controls > button {
  font-size: 0.8rem;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid black;
  background: none;
  cursor: pointer;
}